.filter{ 

	.search{
		padding:50px 80px 35px 50px;
		background-color: white;
		margin-bottom: 30px;

		.search-input-container{
			margin-bottom:55px;
			display:flex;

			input{
				width:100%;
				padding-left:30px;
				box-sizing:border-box;
				height:80px;
				border:none;
				border-bottom:2px solid black;
				color:#9b9b9b;
				font-size:19px;
				box-shadow:0 0 40px rgba(0,0,0,.1);
			}
			button {
				background-color:#65c1d4;
				color:white;
			    position: absolute;
			    right: 45px;
			    top:50%;
			    transform:translateY(-50%);
			    display: inline;
			    height: auto;
			    font-size: 15px;
			    padding: 15px 43px;
			    box-sizing: border-box;
			    border: none;
			    border-radius: 30px;
			    cursor:pointer;
			}

			.select-year-container{
				min-width:170px;
				margin-right:35px;
				position:relative;

				&:after{
					content: '\e802';
				    font-family: 'fontello';
				    color:#65c1d4;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    position: absolute;
				    right: 0;
				    top: 0;
				    bottom: 2px;
				    background-color: white;
				    width: 45px;
				}
				select{
					min-width:170px;
					padding-left:25px;
					font-size:19px;
					box-shadow:0 0 40px rgba(0,0,0,.1);
					box-sizing:border-box;
					height:80px;
					border:none;
					border-bottom:2px solid black;
				}
			}

			.input-container{
				position:relative;
				width:100%;
			}
		}
	}//end of search
}//end of filter