.filter{

	.report{
	display:flex;
	padding:30px 0 30px 20px;
	border-bottom:1px solid #e5e5e5;

	h2{
			font-weight:500;
			font-size:20px;
			margin: 0 0 15px 0;
	}
	
	.meta{
		margin-right: 65px;
		flex:0 0 110px;

		p{
			font-weight: 400;
			font-size: 16px;
		}
		p.time{
			line-height:1.5;
			font-weight:400;
		}
		p.category{
			color:#707070;
			margin:20px 0 0 0;
			font-weight:300;
		}
	}//end of: meta;

	.content{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width:100%;

		.holder{
			margin: 0 0 15px 0;	
		}
		.action{
			display:flex;

			a{
				display:inline-block;
				margin:0 15px 0 0;
				min-width:115px;
				text-decoration: none;
				color:#69c3d5;
				font-weight:600;
			}
		}//end of: action;
	}//end of: content;
}//end of:report;
}


.report .accordion{
	&:after{
		content:'\e802';
		font-family:fontello;
		margin-left:5px;
	}
	&.active:after{
		content:'\e803';
	}
	&.active + div{
		display:flex;
		flex-direction:column;
		border-top:var(--silver-border);
		margin-top:10px;
		a{
			margin-top:15px;
		}
	}
	+ div{
		display:none;
	}
}

.report .action .accordion-container{
	width:100%;
}